* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    /*  ### Neutral  */
    --main-heading-stats: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
}

html {
    font-size: 15px;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    background-color: var(--main-background);
    align-items: center;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.card {
    background-color: var(--card-background);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 6px;
    overflow: hidden;
    margin: 2rem;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img {
    position: relative;
}

.img::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsla(277, 100%, 43%, 0.308);
}

.text {
    padding: 15%;
    padding-right: 45px;
}

.title {
    color: var(--main-heading-stats);
    font-weight: 700;
    padding-bottom: 22px;
}

.title span {
    color: var(--accent);
}

.subtitle {
    color: var(--main-paragraph);
    line-height: 1.8;
}

.stat {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding-top: 60px;
}

.num {
    color: var(--main-heading-stats);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
}

p {
    color: var(--stat-headings);
    font-family: 'Lexend Deca';
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
    body {
        font-size: 12px;
    }
    .text {
        padding: 20px;
    }
    .title {
        font-size: 25px;
    }
    .stat {
        padding-top: 30px;
    }
    p .num {
        font-size: 15px;
    }
}

@media only screen and (max-width: 425px) {
    body {
        text-align: center;
    }
    .card {
        grid-template-columns: 1fr;
    }
    .img {
        order: -1;
    }
    .text {
        padding: 12px 8%;
    }
    .title {
        font-size: 27px;
        line-height: 1.4;
    }
    .stat {
        flex-direction: column;
        padding-top: 30px;
    }
    .stat div {
        margin-top: 20px;
    }
}

.attribution {
    font-size: 14px;
    text-align: center;
    color: white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}